<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Podcast Junkie</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

</head>
<img class='centerimg' src="/assets/PodcastJunkie.png" width="75" height="25">
<!-- navbar-->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        My Stash
      </a>
    <div class="navbar-item">
      <div class="buttons">
        {{#if loggedIn}}  
      <button id="logout" class="button is-light">Logout</button>
        {{else}}
      <button href="/login" class="button is-dark">Login</button>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
<!-- end navbar-->

      {{!-- Append body --}}
      {{{body}}}
      {{!-- end body  --}}
</body>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</html>