<div class="columns">
  <div class="container">
    <img class='responsive' src="./assets/podcast.jpeg" alt="mic">
          <div class="column is-full">
            <!-- keyword search field -->
            <div class="field little-box">
              <label for="" class="label">Search Keyword</label>
              <div class="control">
                <input class="input" id="keyword-input" type="text" placeholder="keyword">
              </div>
              <p class="help">Single word with out spaces</p>
            </div>
            <!-- genre select field -->
            <div class="field">
              <label for=""class="label">Search Genre</label>
              <div class="control">
                <div class="select is-multiple">
                  <select id = "genre-select" multiple size="5">
                    <option value="100">Art</option>
                    <option value="93">Business</option>
                    <option value="133">Comedy</option>
                    <option value="88">Health & Fitness</option>
                    <option value="82">Leisure</option>
                    <option value="134">Music</option>
                    <option value="99">News</option>
                    <option value="69">Religion & Spirituality</option>
                    <option value="107">Science</option>
                    <option value="77">Sports</option>
                    <option value="127">Technology</option>
                    <option value="135">True Crime</option>
                  </select>
                </div>
              </div>
              <p class="help">Select One</p>
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-info" id="search-submit">Submit</button>
              </div>
              
            </div>


          </div>
        </div>
        <script src="./js/search.js"></script>
        <!--  end body   -->