/* navbar */
#navbarBasicExample {
  background-color: black;
  top: 30;
  font-size: 20px;
  font-family: "Archivo Black", sans-serif;
}

.responsive {
  width: 100%;
  height: auto;
}

/*welcome text*/
.welcome {
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 8vw;
}

.hooked {
  font-family: "Questrial", sans-serif;
  color: white;
  text-align: center;
  font-size: 2vw;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: black;
  background-image: image("listening.jpeg");
}
.fas {
  color: white;
}
/* Bottom right text */
.text-block {
  position: absolute;
  top: 100px;
  left: 90px;
  color: white;
}

.login-block {
  position: absolute;
  top: 400px;
  left: 90px;
  color: rgb(255, 255, 255);
}

nav {
  display: flex;
  background-color: black;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

#signup-submit {
  color: white;
  background-color: rgb(34, 143, 233);
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

#login-submit {
  color: white;
  background-color: rgb(34, 143, 233);
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

#signup-block {
  position: absolute;
  top: 400px;
  left: 400px;
  color: white;
}

.is-full {
  font-family:"Questrial", sans-serif;
}